<footer>
  <ul id="social_media" class="p-0">
    <li><a href="https://music.apple.com/us/artist/aaron-ruddick/1789224584" target="_blank"><img src="pictures/icons/itunes.png" alt="Apple Music" /></a></li>
    <li><a href="https://open.spotify.com/artist/1kTKYkeaNmBaThYCrIlWmU" target="_blank"><img src="pictures/icons/spotify.png" alt="Spotify" /></a></li>
    <li><a href="https://music.youtube.com/channel/UCk3dtezPsPXX9hyyAIDVVfw" target="_blank"><img src="pictures/icons/play.png" alt="YouTube Music" /></a></li>
    <li><a href="https://www.deezer.com/us/artist/297116891?app_id=140685" target="_blank"><img src="pictures/icons/deezer.ico" alt="Deezer" /></a></li>
    <li><a href="https://open.qobuz.com/artist/25280015" target="_blank"><img src="pictures/icons/qobuz.png" alt="Qobuz" /></a></li>
    <li><a href="https://www.youtube.com/@aaronruddickmusic" target="_blank"><img src="pictures/icons/youtube.png" alt="YouTube" /></a></li>
    <li><a href="https://www.amazon.com/music/player/artists/B0DRSXF7J9/aaron-ruddick" target="_blank"><img src="pictures/icons/amazon.png" alt="Amazon Music" /></a></li>
  </ul>

  <p>Copyright © 2035 Aaron Ruddick. All Rights Reserved.</p>
  <p><a href="terms.html">TERMS &amp; CONDITIONS</a></p>
  <p>Designed and developed by Aaron Ruddick</p>
</footer>
