<section id="home">
  <hr class="horizontal" />
  <div class="hero">
    <div id="overlay">
      <div class="hero-text">
        <h2>
            Release ready production 
        </h2>
        <h2>
            for singer-songwriters
        </h2>
        <p>
            Production, vocal editing, mix finishing, lyrics...
        </p>
        <p>
            Clear notes and fast communication.
        </p>

        <p style="margin-top: 18px;">
          <a href="#contact" class="btn btn-primary" style="margin-right: 10px;">Get a quote</a>
          <a href="#music" class="btn btn-outline-light">Hear my music</a>
        </p>

      </div>
      <div id="go-btm"><a href="#about" class="go-btm">&#9660;</a></div>
    </div>
  </div>
</section>
