<div class="anchor-box">
  <hr class="horizontal" >
  <section id="music">
    <h3 class="anchor">My Music</h3>

    <div class="row musicRow">
      <div class="col-12 col-md-6 d-flex justify-content-center flex-column align-items-center">
        <iframe src="https://open.spotify.com/embed/artist/1kTKYkeaNmBaThYCrIlWmU"
                width="300"
                height="380"
                frameborder="0"
                allowtransparency="true"
                allow="encrypted-media">
        </iframe>
        <p style="text-align: center; color: #000;">Follow me on Spotify to hear my latest tracks!</p>
      </div>

      <div class="col-12 col-md-6 mt-4 mt-md-0 d-flex justify-content-center flex-column align-items-center">
        <iframe width="300"
                height="380"
                src="https://www.youtube.com/embed/videoseries?list=OLAK5uy_kJBa207Zo1P1jVS0gevOgaSSsj9DQKYB4"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
        </iframe>
        <p style="text-align: center; color: #000;">Watch my latest tracks on YouTube Music!</p>
      </div>
    </div>
  </section>
  <hr class="horizontal" >
</div>
